# Ignorar arquivos Python gerados automaticamente
*.py[cod]
__pycache__/
*.so

# Logs do Python
*.log

# Ambiente virtual
env/
venv/

# Arquivos de configuração e variáveis de ambiente
*.env
.env.*

# Diretórios de mídia e estáticos
/media/
staticfiles/

# Banco de dados local e arquivos de migração
db.sqlite3
*.sqlite3
*.db
migrations/
!*/migrations/__init__.py  # Não ignore o __init__.py dentro de migrations

# Arquivos de cache
*.cache
*.mo
*.pot

# Ferramentas de desenvolvimento
.idea/       # PyCharm
.vscode/     # VSCode
.DS_Store    # macOS
Thumbs.db    # Windows

# Ignorar arquivos Node.js (Vue.js)
node_modules/
dist/
*.tar.gz
*.zip

# Arquivos de build gerados pelo Vue.js
/build/
*.map
!.gitkeep

# Logs do npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de cache e lockfile
.lock-wscript
*.lock
__MACOSX/

# Outros arquivos temporários
*.bak
*.swp
*.tmp
*.~lock.*

# Ignorar arquivos de dependências
package-lock.json
yarn.lock

# Ignorar arquivos gerados pelo Webpack
*.cache/
.cache-loader/
*.css.map
*.js.map

documents/
README.md
superuser.txt
tarefas pendentes.txt